
@{
    ViewBag.Title = "ManagePasswords";
    Layout = "~/Views/Shared/standard.cshtml";
}

<h2>ManagePasswords</h2>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Manage Passwords</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div>
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>User Name</th>
                            <th>Role</th>
                            <th>Password</th>
                            <th>Edit</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>s.taha.aziz@outlook.com</td>
                            <td>Admin</td>
                            <td>Admin123</td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>umair_shabbir@outlook.com</td>
                            <td>User</td>
                            <td>User123</td>
                            <
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>ahsan@outlook.com</td>
                            <td>User</td>
                            <td>User123</td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>shahraiz@outlook.com</td>
                            <td>User</td>
                            <td>User123</td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="btn btn-app"> <i class="fas fa-edit"></i> Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="	card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>


