
@{
    ViewBag.Title = "ManageBranch";
    Layout = "~/Views/Shared/standard.cshtml";
}
<section class="content-header">
    <h1 class="text-center">Branch Management</h1>
</section>
<section>
    <div class="row">
        <!-- Button trigger modal -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <button type="button" class="btn btn-primary pull-right" style="margin:10px" data-toggle="modal" data-target="#exampleModal">
                Add Branch
            </button>
        </div>


    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>
                    Company
                </label>
                <select class="form-control select2 selectCID">
                    <option value="null">Please select Company</option>
                </select>
            </div>
        </div>
    </div>
    <div id="jstree"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-bordered" id="branchTable">
                <thead>
                    <tr>
                        <th>Branch Code</th>
                        <th>Company</th>
                        <th>Branch Name</th>
                        <th>Country</th>
                        <th>Contact</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Branch Addition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Company
                                </label>
                                <select class="form-control select2 selectCID" >
                                    <option value="null">Please select Company</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Branch Code
                                </label>
                                <input class="form-control" type="text" id="brName" name="branchName" placeholder="Enter Branch Code" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Branch Name
                                </label>
                                <input class="form-control" type="text" id="brName" name="branchName" placeholder="Enter Branch Name" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control select2 selectCountry" >
                                    <option value="null">Select Country</option>
                                    </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    City
                                </label>
                                <input class="form-control" type="text" name="cityfield" id="city" placeholder="Enter City" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    State/Province
                                </label>
                                <input class="form-control" type="text" name="stateprovince" id="stprov" placeholder="State Province" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Postal Code
                                </label>
                                <input class="form-control" type="text" name="zippostalcode" id="zipcode" placeholder="Postal Code" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Contact Name
                                </label>
                                <input class="form-control" type="text" name="contactNmae" id="cName" placeholder="Name" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Contact Phone
                                </label>
                                <input class="form-control" type="number" name="phoneNumber" id="cNumber" placeholder="Phone" />

                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Contact Fax
                                </label>
                                <input class="form-control" type="text" name="faxnumber" id="faxNum" placeholder="Contact Fax" />

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Contact Email
                                </label>
                                <input class="form-control" type="email" name="contactEmail" id="cEmail" placeholder="Enter Email" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Address
                                </label>
                                <input class="form-control " type="text" name="address" id="addr1" placeholder="Enter Address" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Address2
                                </label>
                                <input class="form-control" type="text" name="address2" id="addr2" placeholder="Enter Address 2" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    Address3
                                </label>
                                <input class="form-control" type="text" name="address3" id="addr3" placeholder="Enter Address 3" />
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="btnaddBranch" type="button" class="btn btn-block btn-primary" style="width:auto">Add Branch</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getData({ name: 'Branch', data: null });
        
        populateSelectBox({ filterName: 'Company', filterSelector: 'selectCID', data: null });
        
        $('.selectCID').on('select2:select', function (e) {
            var data = e.params.data;
            //var requestData = {
            //    filterName: 'Location',
            //    filterSelector: 'selectLocation',
            //    data: {
            //        Id: 0,
            //        bId: data.id
            //    }
            getTreeData({ name: 'Branch', data: { companyId: 2 } }, function (data) {
                $('#jstree').jstree({
                    "core": {
                        "animation": 0,
                        "check_callback": function (operation, node, node_parent, node_position, more) {
                            console.log({ op: operation, no: node, np: node_parent, n_p: node_position, m: more });
                            //switch (operation) {
                            //    case "create_node":
                            //        console.log({ op: operation, no:node, np: node_parent, n_p: node_position, m:more})
                            //    break;
                            //    case "rename_node":
                            //        console.log({ op: operation, no: node, np: node_parent, n_p: node_position, m: more })
                            //    break;
                            //    case "delete_node   ":
                            //        console.log({ op: operation, no: node, np: node_parent, n_p: node_position, m: more })
                            //    break;

                            //}
                        },
                        "themes": { "stripes": true },
                        'data': data
                    },
                    "types": {
                        "#": {
                            "max_children": 1,
                            "max_depth": 100,
                            "valid_children": ["root"]
                        },
                        "root": {
                            "icon": "/static/3.3.10/assets/images/tree_icon.png",
                            "valid_children": ["default"]
                        },
                        "default": {
                            "valid_children": ["default", "file"]
                        },
                        "file": {
                            "icon": "glyphicon glyphicon-file",
                            "valid_children": []
                        }
                    },
                    "plugins": [
                        "contextmenu", "dnd", "search",
                        "state", "types", "wholerow"
                    ]
                });
            });
            //};

            populateSelectBox(requestData);
        });


    });
</script>
