
@{
    ViewBag.Title = "Movement";
    Layout = "~/Views/Shared/standard.cshtml";
}


<section>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h4>Movement of Asset / Single Asset</h4>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label>Select Company Name</label>
                        <select class="form-control">
                            <option>Company Name</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label>Select Location Name</label>
                        <select class="form-control">
                            <option>Location Name</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Change location of the Assets</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputBarcode1">Current Room Number</label>
                                    <input type="text" class="form-control" id="exampleInput1" placeholder="Enter Current Room Number">
                                </div>
                                <p>Asset moved to new location below</p>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>New Section </label>
                                        <select class="form-control">
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-group">
                                        <label>New Room Number</label>
                                        <select class="form-control">
                                            <option>option 1</option>
                                            <option>option 2</option>
                                            <option>option 3</option>
                                            <option>option 4</option>
                                            <option>option 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>New Room Type</label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>New Floor</label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                            </div>



                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Move Asset</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Barcode ID</th>
                                <th>Asset Description</th>
                                <th>Asset Group</th>
                                <th>Asset Category</th>
                                <th>Section Name</th>
                                <th>Room No.</th>
                                <th>Room Type</th>
                                <th>Floor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>No data available table</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>


