
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/standard.cshtml";
}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h5>Select Location</h5>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label>Location</label>

                        <select class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-3">
                <h2>Status Summary</h2>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <div class="col-md-2">
                    <a class="btn btn-app">
                        <i class="fas fa-search"></i>Search
                    </a>
                </div>
            </div>
            <br>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h1>0</h1>
                        <p>Total Disposal Processed</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <section>

            <div class="row">
                <div class="col-md-12">

                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Status</th>

                                <th>Disposal Number</th>

                                <th>Date of Processing</th>

                                <th>Date of Disposal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Disposed</td>
                                <td>10023</td>
                                <td>2020/09/03</td>
                                <td>2020/09/04</td>
                                
                            </tr>
                            <tr>
                                <td>Disposed</td>
                                <td>10023</td>
                                <td>2020/09/03</td>
                                <td>2020/09/04</td>

                            </tr>
                            <tr>
                                <td>Disposed</td>
                                <td>10023</td>
                                <td>2020/09/03</td>
                                <td>2020/09/04</td>

                            </tr>
                            <tr>
                                <td>Disposed</td>
                                <td>10023</td>
                                <td>2020/09/03</td>
                                <td>2020/09/04</td>

                            </tr>
                            <tr>
                                <td>Disposed</td>
                                <td>10023</td>
                                <td>2020/09/03</td>
                                <td>2020/09/04</td>

                            </tr>
                            <tr>
                                <td>Disposed</td>
                                <td>10023</td>
                                <td>2020/09/03</td>
                                <td>2020/09/04</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  

        </section>

    </div>
    

    
